.nav-links{
  display: flex;
  justify-content: space-around;
}
/* projects page======================================= */
.portfolio_page{
  background-image: url('./assets/images/OceanBeach.jpg');
  background-size: cover;
  height: fit-content;
}
.portfolio_header{
  text-align: center;
  margin-bottom: 100px;
}
.projects_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-card{
  height: fit-content;
  width: 300px;
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  border-radius: 15px;
}
.project_title{
  color: white;
  text-align: center;
}
.project_image_div{
  text-decoration: inherit;
  text-decoration: none;
  color: white
}
.project_image{
  width: 300px;
  height: 300px;
  border-radius: 0px 0px 15px 15px;
}
.project_link{
  font-size: 24px;
  color: antiquewhite;
}
/* about page ===================================== */
#about_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(106, 213, 255);
  text-align: center;
  height: fit-content;
  background-image: url('./assets/images/redwoods.jpg');
  background-size: cover;
}
#about-header{
  padding-top: 50px;
}
#mikePic{
  height: 300px;
  width: auto;
}
#about_p{
  max-width: 650px;
  font-size: 30px;
}